
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,100;1,200;1,400&display=swap');

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root{
    font-family: 'Poppins', sans-serif; 
   }

   body{
    background: white;
   }
/*
   li{
    list-style: none;
    cursor: pointer;
    position: relative;
   }

   li:hover ::before{
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    background: #130160;
   }

   .icon{
    cursor: pointer;
    
   }
   */